Incorrect format in DateTime properties with TimeZone parameter

Hi,
in properties like DTSTART and DTEND (DUE, EXDATE, and RDATE too) with included timezone information within parameter TZID is incorrect structure of that property, because by the RFC5545 in this situation must be used SOLIDUS character after property name.

For example DateTime parameters inside event generated by actual version of iCal library:
```
...
DTSTART:TZID=Europe/Bratislava:20210301T073000
DTEND:TZID=Europe/Bratislava:20210301T140000
...
```

Correct structure with a timezone by RFC5545 can be like this (check SOLIDUS character after property name, which is a ";"):
```
...
DTSTART;TZID=Europe/Bratislava:20210301T073000
DTEND;TZID=Europe/Bratislava:20210301T140000
...
```

Correct structure without a timezone can be like this:
```
...
DTSTART:20210301T073000
DTEND:20210301T140000
...
```

Or like this with UTC DateTime format:
```
...
DTSTART:20210301T073000Z
DTEND:20210301T140000Z
...
```

By RFC5545, page 28, (or [here](https://icalendar.org/iCalendar-RFC-5545/3-2-19-time-zone-identifier.html)) "_The presence of the SOLIDUS character as a prefix, indicates that this "TZID" represents a unique ID in a globally defined time zone registry (when such registry is defined)._"

Example with incorrect format of properties for testing:
```
BEGIN:VCALENDAR
VERSION:2.0
PRODID:testing
CALSCALE:GREGORIAN
BEGIN:VEVENT
UID:6037a697a75f0
DTSTAMP:20210225T122622Z
DTSTART:TZID=Europe/Bratislava:20210301T073000
DTEND:TZID=Europe/Bratislava:20210301T140000
END:VEVENT
BEGIN:VTIMEZONE
TZID:Europe/Bratislava
BEGIN:STANDARD
DTSTART:20210301T073000
TZNAME:CET
TZOFFSETTO:+0100
TZOFFSETFROM:+0100
END:STANDARD
END:VTIMEZONE
END:VCALENDAR
```

For validation of iCal format i use this online validator [https://icalendar.org/validator.html](https://icalendar.org/validator.html).

Can you give a code example? Which version do you use?

Hi Markus,
this is a example of the code.

```php
use DateTimeZone;
use My\Namespace\MyEvent;
use Eluceo\iCal\Domain\Entity\Event;
use Eluceo\iCal\Domain\Entity\Calendar;
use Eluceo\iCal\Presentation\Component;
use Eluceo\iCal\Domain\Entity\TimeZone;
use Eluceo\iCal\Domain\ValueObject\TimeSpan;
use Eluceo\iCal\Domain\ValueObject\DateTime;
use Eluceo\iCal\Domain\ValueObject\Location;
use Eluceo\iCal\Domain\ValueObject\Timestamp;
use Eluceo\iCal\Presentation\Factory\CalendarFactory;
use Eluceo\iCal\Domain\ValueObject\GeographicPosition;

final class iCalendarFactory
{
    public static function make(MyEvent $event)
    {
        $place = $event->place;

        $location = new Location($place->address);
        $location = $location->withGeographicPosition(
             new GeographicPosition($place->latitude, $place->longitude)
        );

        $event = (new Event())
            ->setSummary($event->name . ' [' . $event->type->label . ']')
            ->setDescription(strip_tags($event->description ?? ''))
            ->setLocation($location)
            ->setOccurrence(
                new TimeSpan(
                    new DateTime($event->date_from->toDateTimeImmutable(), true),
                    new DateTime($event->date_to->toDateTimeImmutable(), true)
                )
            )
            ->touch(new Timestamp($event->updated_at->toDateTimeImmutable()));

        $calendar = new Calendar([$event]);
        $calendar->setProductIdentifier(config('app.name'));
        $calendar = $calendar->addTimeZone(TimeZone::createFromPhpDateTimeZone(
            new DateTimeZone(config('app.timezone')),
            $event->date_from->toDateTimeImmutable(),
            $event->date_to->toDateTimeImmutable()
        ));
        $componentFactory = new CalendarFactory();

        return $componentFactory->createCalendar($calendar);
    }
)
```

For now i use FALSE value of the "applyTimeZone" attribute of the constructor of the class Eluceo\iCal\Domain\ValueObject\DateTime, in constructor of the class Eluceo\iCal\Domain\ValueObject\TimeSpan, in the code example is with the TRUE value, because that is the source of problem (i use the time zone information globally inside iCal parameter VTIMEZONE, that can be enough, maybe).

Thank you very much for this bug report.

As of section 3.1 of RFC 5545, a content line is defined as follows:

```text
contentline   = name *(";" param ) ":" value CRLF
```

This is defined in the class `\Eluceo\iCal\Presentation\Component\Property`. It is literally missing a semicolon there. The colon must be exchanged by the semicolon in that class. I will create a PR to fix that.

Thank you. 👍🏻